:root {
  --surface: lch(10 0 0);
  --text: lch(80 0 0);
  --brand: lch(64 40 347);
  --c-accent: #9f7aea;
  --c-secondary: #3C9DF0;


}

html {
  block-size: 100%;
  inline-size: 100%;
}

body,p,ul,dl,dd,dt,figure,
h1,h2,h3,h4,h5,h6,small {
  margin: 0;
}

body {
  min-block-size: 100%;
  min-inline-size: 100%;
  box-sizing: border-box;

  display: grid;
  place-content: center;
  gap: 2ch;

  background: var(--surface);
  color: var(--text);
  font-family: system-ui, sans-serif;
  padding: 1ch;
}

a {
  background-color: var(--c-accent);
  border-radius: .28ch;
  color: white;
  display: inline-block;
  padding: 0 .5ch;

  &:visited {
    background-color: var(--c-secondary);
    color: white;
  }
}

h1,h2,h3,h4,h5,h6 {
  color: white;
  line-height: 1.5;
  max-inline-size: 25ch;
}

p {
  line-height: 2;
  font-size: 1.25rem;
  font-weight: 300;
  max-inline-size: 45ch;
}

::selection {
  background-color: var(--brand);
}

.Lions {
  background-size: cover;
  background-image: url("./images/lions.jpg");
  border: 1px dashed black;
  height: 300px;
  max-width: 500px;
}

.Twitter,
.Twitter:visited {
  background-color: white;
  border-radius: .28ch;
  color: rgb(70, 70, 70);
  display: inline-block;
  font-weight: bold;
  padding: .5ch;
  text-decoration: none;
}

.Footer {
  max-width: 500px;
  text-align: right;
}
